<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>AI Detector Alarm Dashboard</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <script src="/static/js/fault_d3_map.js" defer></script>
    <script src="/static/js/fault_dashboard_util.js" defer></script>
    <script src="/static/js/fault_dashboard.js" defer></script>
    <script src="/static/js/fault_dashboard_equip.js" defer></script>
    <script src="/static/js/table-resizer.js" defer></script>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- simplePagination.js -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/simplePagination.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.min.js"></script>

    <link rel="stylesheet" href="/static/css/fault_dashboard.css" />
    <!-- <link rel="stylesheet" href="/static/css/fault_dashboard_equip.css" /> -->
  </head>
  <body>
    <div class="container">
      <div class="left-sidebar">
        <div>
          <div style="display: flex; justify-content: space-between; align-items: center">
            <span class="default-title">대상 국사 </span>

            <span style="cursor: pointer; font-size: 10pt" onclick="refreshPage()">Refresh ⟳</span>
          </div>
          <div>
            <select id="searchGuksa">
              <option value="">전체 국사</option>
            </select>
          </div>
        </div>

        <div>
          <label class="default-title">경보발생 시간</label>
          <select id="timeFilter">
            <option value="10">최근 5분</option>
            <option value="10">최근 10분</option>
            <option value="15">최근 15분</option>
            <option value="20">최근 20분</option>

            <option value="30" selected>최근 30분</option>
            <option value="60">최근 1시간</option>
            <option value="120">최근 2시간</option>
            <option value="180">최근 3시간</option>
            <option value="360">최근 6시간</option>
          </select>
        </div>

        <div>
          <label class="default-title">경보발생 장비 선택</label>
          <div class="radio-group" id="searchNWType">
            <label><input type="radio" name="sector" value="MW" /> MW</label>
            <label><input type="radio" name="sector" value="선로" /> 선로</label>
            <label><input type="radio" name="sector" value="전송" /> 전송</label>
            <label><input type="radio" name="sector" value="IP" checked /> IP</label>

            <label><input type="radio" name="sector" value="무선" /> 무선</label>
            <label><input type="radio" name="sector" value="교환" /> 교환</label>
          </div>
        </div>
        <div>
          <div>
            <select id="searchEquipName" class="equip-select" size="15"></select>
          </div>
        </div>
        <br />
        <button id="fault-point-btn" class="fault-view-btn">장애점 찾기</button>
      </div>

      <div class="drag-handle" id="drag-handle">
        <div class="toggle-btn" id="toggle-btn">◀</div>
      </div>

      <!-- right-content 영역 내부 변경 -->
      <div class="right-content">
        <div class="top-dashboard">
          <!-- 전체 현황 요약 라인 추가 -->
          <div class="dashboard-summary">
            <span class="summary-title">실시간 경보현황: </span>
            <span id="total-equip-count">경보 장비(0대)</span>
            <span id="total-alarm-count">전체 경보(0개)</span>
            <span id="total-valid-count">유효 경보(0개)</span>
            <span id="recent-update-time" class="recent-update-time">최근 장애</span>

            <!-- 우상단에 장비/국사 기준 메뉴 추가 -->
            <div class="view-toggle-buttons">
              <span class="summary-title">경보 맵 기준 선택</span>

              <button id="equip-view-btn" class="view-btn active">장비 연결 기준</button>
              <button id="guksa-view-btn" class="view-btn">동일 국사 기준</button>
            </div>
          </div>

          <div
            id="dashboard"
            class="draggable-container"
            style="display: flex; flex-direction: row; flex-wrap: nowrap; overflow-x: auto"
          ></div>
        </div>

        <!-- 새로운 맵 컨테이너 추가 -->
        <div class="middle-map-container" id="map-container">
          <!-- 여기에 d3.js 맵이 추가될 예정 -->
        </div>

        <div class="bottom-div">
          <div class="table-container">
            <table id="alarmTable" class="alarm-table">
              <thead>
                <tr>
                  <th>| 국사</th>
                  <th>| 분야</th>
                  <th>| 유효/무효</th>
                  <th>| 발생시간</th>
                  <th>| 장비ID</th>
                  <th>| 장비유형</th>
                  <th>| 장비명</th>
                  <th>| 경보내용</th>
                </tr>
              </thead>
              <tbody id="alarmTableBody"></tbody>
            </table>
          </div>
          <div id="pagination"></div>
        </div>
      </div>
    </div>
  </body>
</html>
